{% extends 'layout.html' %}
{% load django_markdown %}

{% block content %}
	{% for post in posts %}
		<div class="row">
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			<p class="dark_text">Created on:&nbsp;<span class="bright_text">{{ post.created|date:"F jS, Y" }}</span>
			<span class="pull-right dark_text">Tagged Under:&nbsp;<span class="bright_text">{{ post.tags.all|join:", " }}</span></span></p>
			{{ post.body|truncatewords:45|markdown }}			
			<p><span class="dark_text">Category:&nbsp;</span><span class="bright_text"><a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></span>
				<a href="{{ post.get_absolute_url }}" class="pull-right">Continue Reading</a>
			</p>
		</div>
	{% endfor %}
	<ul class="pagination">
		{% if posts.has_previous %}
    	<li>
	      <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% endif %}
	    <li>
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </li>
	    {% if posts.has_next %}
	    <li>
	      <a href="?page={{ posts.next_page_number }}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
    </ul>
{% endblock %}