{% extends 'layout.html' %}
{% load django_markdown %}

{% block content %}
<div class="row">
	<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
	<p class="dark_text">Created on:&nbsp;<span class="bright_text">{{ post.created|date:"F jS, Y" }}</span><span class="dark_text pull-right">Tagged Under:&nbsp;<span class="bright_text pull-right">{{ post.tags.all|join:", " }}</span></span></p>
	<p class="dark_text">Category:&nbsp;<a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></p>
	{{ post.body|markdown }}
	<div class="col-lg-12">
		<div class="col-lg-6">
			<a href="{{ post.get_previous_post.get_absolute_url }}" class="btn btn-primary btn-lg">Previous Post</a>
		</div>
		<div class="col-lg-6">
			<a href="{{ post.get_next_post.get_absolute_url }}" class="btn btn-primary btn-lg pull-right">Next Post</a>
		</div>
	</div>
</div>
{% endblock %}