@import url(http://fonts.googleapis.com/css?family=Oswald|Roboto);

body {
	padding-top: 70px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

footer {
	background: #EEEEEE;
	border-top: #D2D7D3;
	height: 50px;
}

footer .container {
	padding-top: 15px;
}

footer p {
	text-align: center;
}

footer a {
	color: #9A12B3;
	text-decoration: none;
}

.blog_title {
	color: #9A12B3;
	font-size: 3em;
	font-weight: bold;
}

.blog_tag {
	color: #BFBFBF;
	font-style: italic;
	font-size: 1em;
}

.fuzzy_time {
	color: #6C7A89;
}

.fuzzy_time span {
	color: #4183D7;
}